.deck {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5em;
    margin: 2em auto;
    max-width: 35em;
}

@media(max-device-width: 768px) {
    .deck {
        grid-template-columns: repeat(2, 1fr);
        max-width: 17em;
    }
}