.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.section, .main {
    display: flex;
    flex-direction: column;
}

.asideRight {
    width: 0;
}

@media (min-device-width: 768px) {
    .section {
        flex-direction: row;
    }

    .main {
        flex: 1 0;
    }

    .asideLeft {
        flex: 0 0 16em;
    }

    .asideRight {
        flex: 0 1 16em;
    }
}

.footer {
    margin: 1em 0;
    text-align: center;
}